.jcarousel-skin-tango .jcarousel-container{}
.jcarousel-skin-tango a{position:relative;display:inline-block;}
.jcarousel-skin-tango .jcarousel-direction-rtl{direction:rtl;}
.jcarousel-skin-tango .jcarousel-container-horizontal{width:555px;padding:0;}
.jcarousel-skin-tango .jcarousel-clip{overflow:hidden;}
.jcarousel-skin-tango .jcarousel-clip-horizontal{width:555px;height:127px;}
.jcarousel-skin-tango .jcarousel-item{width:88px;height:127px;padding:0;text-align:center;}
.jcarousel-skin-tango .jcarousel-item img{box-shadow:0 0 5px #421f02;}
.jcarousel-skin-tango .jcarousel-item:hover img{box-shadow:0 0 10px #000;}
.jcarousel-skin-tango .jcarousel-item-horizontal{margin-left:0;margin-right:10px;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal{margin-left:10px;margin-right:0;}
.jcarousel-skin-tango .jcarousel-item-placeholder{background:#fff;color:#000;}
.jcarousel-skin-tango .jcarousel-next-horizontal{position:absolute;top:43px;right:5px;width:32px;height:32px;cursor:pointer;background:transparent url(../pic/next-horizontal.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal{left:5px;right:auto;background-image:url(../pic/prev-horizontal.png);}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus{background-position:-32px 0;}
.jcarousel-skin-tango .jcarousel-next-horizontal:active{background-position:-64px 0;}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active{cursor:default;background-position:-96px 0;}
.jcarousel-skin-tango .jcarousel-prev-horizontal{position:absolute;top:43px;left:5px;width:32px;height:32px;cursor:pointer;background:transparent url(../pic/prev-horizontal.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal{left:auto;right:5px;background-image:url(../pic/next-horizontal.png);}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus{background-position:-32px 0;}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active{background-position:-64px 0;}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active{cursor:default;background-position:-96px 0;}
.jcarousel-skin-similar .jcarousel-container{}
.jcarousel-skin-similar a{position:relative;display:inline-block;}
.jcarousel-skin-similar .jcarousel-direction-rtl{direction:rtl;}
.jcarousel-skin-similar .jcarousel-container-horizontal{width:680px;padding:0;}
.jcarousel-skin-similar .jcarousel-clip{overflow:hidden;}
.jcarousel-skin-similar .jcarousel-clip-horizontal{width:685px;height:145px;}
.jcarousel-skin-similar .jcarousel-item{width:88px;height:145px;padding:0;text-align:center;}
.jcarousel-skin-similar .jcarousel-item img{box-shadow:0 0 5px #421f02;}
.jcarousel-skin-similar .jcarousel-item:hover img{box-shadow:0 0 10px #000;}
.jcarousel-skin-similar .jcarousel-item-horizontal{margin-left:0;margin-right:10px;}
.jcarousel-skin-similar .jcarousel-direction-rtl .jcarousel-item-horizontal{margin-left:10px;margin-right:0;}
.jcarousel-skin-similar .jcarousel-item-placeholder{background:#fff;color:#000;}
.jcarousel-skin-similar .jcarousel-next-horizontal{position:absolute;top:43px;right:5px;width:32px;height:32px;cursor:pointer;background:transparent url(../pic/next-horizontal.png) no-repeat 0 0;}
.jcarousel-skin-similar .jcarousel-direction-rtl .jcarousel-next-horizontal{left:5px;right:auto;background-image:url(../pic/prev-horizontal.png);}
.jcarousel-skin-similar .jcarousel-next-horizontal:hover,
.jcarousel-skin-similar .jcarousel-next-horizontal:focus{background-position:-32px 0;}
.jcarousel-skin-similar .jcarousel-next-horizontal:active{background-position:-64px 0;}
.jcarousel-skin-similar .jcarousel-next-disabled-horizontal,
.jcarousel-skin-similar .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-similar .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-similar .jcarousel-next-disabled-horizontal:active{cursor:default;background-position:-96px 0;}
.jcarousel-skin-similar .jcarousel-prev-horizontal{position:absolute;top:43px;left:5px;width:32px;height:32px;cursor:pointer;background:transparent url(../pic/prev-horizontal.png) no-repeat 0 0;}
.jcarousel-skin-similar .jcarousel-direction-rtl .jcarousel-prev-horizontal{left:auto;right:5px;background-image:url(../pic/next-horizontal.png);}
.jcarousel-skin-similar .jcarousel-prev-horizontal:hover,
.jcarousel-skin-similar .jcarousel-prev-horizontal:focus{background-position:-32px 0;}
.jcarousel-skin-similar .jcarousel-prev-horizontal:active{background-position:-64px 0;}
.jcarousel-skin-similar .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-similar .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-similar .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-similar .jcarousel-prev-disabled-horizontal:active{cursor:default;background-position:-96px 0;}